<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login!</title>

    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .splash-container {
        width: 100%;
        max-width: 375px;
        padding: 15px;
        margin: auto;
    }
.splash-container .card-header {
        padding: 20px;
    }
    </style>
</head>
<body>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    
    <div class="splash-container">
        <div class="card">
            <div class="card-header text-center">
            <span>Ingrese sus Datos</span>      
            </div>
            <div class="card-body">
                    <form method="POST" action="{% url "login" %}">
                            {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="text" placeholder="Usuario" name="username" required="True">
                        </div>       
                        
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="password" placeholder="Contraseña" name="password" required="True">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg btn-block" type="submit"> Iniciar</button>
                        </div>        
                   </form>
            </div>
        </div>
                                     
    </div>
    
</body>
</html>