<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    
    <div class="container >
        <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                        <div class="form-group">
                                <form method="POST" action="{% url "login" %}">
                
                
                                        {% csrf_token %}
                                
                                        <input  class="form-text text-muted" type="text" placeholder="Usuario" name="username" required="True">
                                        <input  class="form-text text-muted" type="password" placeholder="Contraseña" name="password">
                                
                                        <button class="btn btn-success" type="submit"> Iniciar</button>
                                
                                    </form>
                           </div>
                </div>
            
        </div>
           
    </div>
    
</body>
</html>